# MySQL (if needed)

In [ ]:
import mysql.connector
import config

In [ ]:
# Define db_name
db_name = 'stock_data'

In [ ]:
# Connect to MySql and define cursor
cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        password = config.password,
)
cursor = cnx.cursor()

# Create a database and close cursor/cnx
cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(db_name))
cursor.close()
cnx.close()

In [ ]:
# Reestablish connection and specify database
cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        password = config.password,
        database = db_name
)
cursor = cnx.cursor()

In [ ]:
# cursor.close()
# cnx.close()

cursor.execute('''DROP TABLE fundamental_data''')

In [ ]:
# Create a table for the data to live
create_table_querey = """ 
CREATE TABLE fundamental_data (
     ticker varchar(6),
     company_name varchar(40),
     price float(10),
     shares_outstanding float(20),
     market_cap float(20),
     52_week_delta float(10),
     dividend_payout_ratio float(10),
     foward_eps float(10),
     trailing_eps float(10),
     g_earnings float(10),
     g_revenue float(10),
     gross_margin_pct float(10),
     ebitda_margin_pct float(10),
     price_to_foward_earnings float(10),
     price_to_trailing_earnings float(10),
     price_to_book float(10),
     price_to_free_cash_flow float(10),
     debt_to_equity float(10),
     return_on_assets float(10),
     return_on_equity float(10),
     largest_institutional_owner varchar(40),
     recommendation varchar(10)
     )
 """

cursor.execute(create_table_querey)

In [ ]:
insert_query = """
INSERT INTO fundamental_data (
    ticker,
    company_name,
    price,
    shares_outstanding,
    market_cap,
    52_week_delta,
    dividend_payout_ratio,
    foward_eps,
    trailing_eps,
    g_earnings,
    g_revenue,
    gross_margin_pct,
    ebitda_margin_pct,
    price_to_foward_earnings,
    price_to_trailing_earnings,
    price_to_book,
    price_to_free_cash_flow,
    debt_to_equity,
    return_on_assets,
    return_on_equity,
    largest_institutional_owner,
    recommendation
    )
VALUES (
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s
    )
"""

# for i in range(len(fundamental_data)):
cursor.executemany(insert_query, data)
cnx.commit()